<html>
  <head>
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	
		<link rel="stylesheet" href="/site_media/bootstrap-treeview.min.css">
		<script src="/site_media/bootstrap-treeview.min.js"></script>

		<style type="text/css">
		   .tree_class { 
				margin: 20px;
		   }
		</style>
</head>
  <body>
	<div class="row">
		<div class="col-md-5 tree_class" id="cash_tree"></div>
		<div class="col-md-1" style="margin-top:100px;"><button id="cache_button"><<<</button></div>
		<div class="col-md-5 tree_class" id="db_tree"></div>
	</div>
	<div class="row" style="margin-left: 40px;">
		Selected Node Value: <input id="selected_node_value"></input><input id="selected_node_id" hidden></input><input id="selected_db_node_id" hidden></input>
	</div>
	<div class="row" style="margin-left: 40px; margin-top:10px;">
		<button id="add_button">+</button>
		<button id="delete_button">-</button>
		<button id="edit_button">a</button>
		<button id="save_button">Apply</button>
		<button id="reset_button">Reset</button>
	</div>
	
	<script src="/site_media/main.js"></script>
  </body>
</html>
